html, body{
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media  screen and (min-width: 880px) {
    .introduction{
        grid-auto-flow: column;
        font-size: 2rem;  

    }
    .header{
        grid-auto-flow: column;
    }
}

@media screen and (max-width: 880px) {
    .introduction{
        grid-auto-flow: row;
        font-size: 1rem;  
    }
    img{
        width: 80vw;
        justify-self: center;
    }
    .header{
        width: 100%;
        align-content: stretch;
        align-items: start;
        grid-auto-flow: column;
    }

    
}

div .border{
    padding: 0%;
    margin: 0%;
}

a.about{
    transition-property: color;
    color: black;
    display: grid;
}

a.about:hover{
    color: rgb(251, 254, 253);
}

p{
    transition-property: color;
    color: black;
    font-size: 25px;
    font-weight: 600;
}

p:hover{
    color: white;
}

img{
    max-width: 100%;
    max-height: 100%;
}

h1{
    color: rgb(22, 227, 159);
    font-style: italic;
}

h3{
    color: black;
}

h3 span{
    color:rgb(22, 227, 159);
    

}

.introduction{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 4.5rem;
}

.header {
    top: 0;
    display: grid;
    width: 100vw;
    padding: 0.5px 0;
    background-color: aquamarine;
    font-size: 14px;
    font-weight: 900;
    justify-content: space-between; 
  }

.header li {
    display: inline-block;
    padding: 20px;
  }

.contacts{
    top: 0;
    display: grid;
    width: 100vw;
    padding: 0.5px 0;
    background-color: aquamarine;
    font-size: 14px;
    font-weight: 900;
    justify-content: space-between;
    padding: 1rem;
    grid-auto-flow: row;
    grid-gap: 0.5rem;

}

.contact{
    bottom: 0%;
    background-color: aquamarine;
    color: black;
    padding: 0.3rem;
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border: none;
    justify-self: start;
    grid-gap: 1rem;
    justify-content: space-evenly;
    grid-auto-flow: row;
}

.contacts h2{
    color: black;
    display: grid;
    justify-content: start;

}

.contact{
    color: black;
    transition-property: color;
}

.contact:hover{
    color: white;
}

.contact li{
    display: inline-block;
    padding: 20px;
    gap: 1rem;
}

button.contact{
    grid-auto-flow: row;
}


    